In [2]:
# Dependencies
#from config import (census_key, gkey)
# import gmaps 
import numpy as np
import pandas as pd
import requests
import time
#from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [6]:
#import baby name data
baby_name_original = pd.read_csv(
    "Data/statenames.csv", dtype="object", encoding="utf-8")
#display result
baby_name_original.head()

  Id      Name  Year Gender State Count
0  1      Mary  1910      F    AK    14
1  2     Annie  1910      F    AK    12
2  3      Anna  1910      F    AK    10
3  4  Margaret  1910      F    AK     8
4  5     Helen  1910      F    AK     7