In [13]:
# Dependencies
#from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
#from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [14]:
#import city baby name data
baby_name_original = pd.read_csv(
    "../Data/StateNames.csv", dtype="object", encoding="utf-8")
#display result
baby_name_original.head()

  Id      Name  Year Gender State Count
0  1      Mary  1910      F    AK    14
1  2     Annie  1910      F    AK    12
2  3      Anna  1910      F    AK    10
3  4  Margaret  1910      F    AK     8
4  5     Helen  1910      F    AK     7

In [19]:
baby_name_original["Count"] = baby_name_original.Count.astype(float)

In [20]:
baby_name_original.dtypes

Id         object
Name       object
Year       object
Gender     object
State      object
Count     float64
dtype: object

In [21]:
BabyNameGB = baby_name_original.groupby("Name")
BabyName = BabyNameGB.count().index
NameCount = BabyNameGB["Count"].sum()

TopNameGB = pd.DataFrame({"Name": BabyName, "Popularity": NameCount
                             })
TopNameGB.max(5)

            Name  Popularity
Name
Aaban      Aaban        12.0
Aadan      Aadan        23.0
Aadarsh  Aadarsh         5.0
Aaden      Aaden      3426.0
Aadhav    Aadhav         6.0

In [31]:
#TopNameGB.sort_values(by=['Popularity'])

TopName = TopNameGB.sort_values(by=['Popularity'], ascending=False)

TopName.head(50)

                    Name  Popularity
Name
James              James   4957166.0
John                John   4845414.0
Robert            Robert   4725713.0
Michael          Michael   4312975.0
William          William   3839236.0
Mary                Mary   3740495.0
David              David   3562278.0
Richard          Richard   2534949.0
Joseph            Joseph   2485220.0
Charles          Charles   2252146.0
Thomas            Thomas   2219967.0
Christopher  Christopher   1997925.0
Daniel            Daniel   1857096.0
Patricia        Patricia   1569944.0
Matthew          Matthew   1551706.0
Elizabeth      Elizabeth   1502094.0
Jennifer        Jennifer   1464686.0
Linda              Linda   1448063.0
Barbara          Barbara   1424544.0
Donald            Donald   1403439.0
Anthony          Anthony   1397105.0
Paul                Paul   1357785.0
Mark                Mark   1341573.0
George            George   1324735.0
Steven            Steven   1272459.0
Kenneth          Kenneth   1261928.0
Andrew            Andrew   1239305.0
Edward            Edward   1212969.0
Joshua            Joshua   1174451.0
Brian              Brian   1159034.0
Kevin              Kevin   1154606.0
Margaret        Margaret   1122745.0
Susan              Susan   1109051.0
Ronald            Ronald   1074986.0
Timothy          Timothy   1058854.0
Dorothy          Dorothy   1052910.0
Jessica          Jessica   1040162.0
Jason              Jason   1015044.0
Sarah              Sarah   1011713.0
Betty              Betty    985506.0
Nancy              Nancy    984542.0
Karen              Karen    982794.0
Jeffrey          Jeffrey    970485.0
Lisa                Lisa    963305.0
Ryan                Ryan    917659.0
Gary                Gary    897152.0
Helen              Helen    896217.0
Nicholas        Nicholas    874057.0
Sandra            Sandra    871292.0
Eric                Eric    865555.0