In [1]:
# Dependencies
#from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
#from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [2]:
#import baby name data
baby_name_original = pd.read_csv(
    "../Data/StateNames.csv", dtype="object", encoding="utf-8")
#display result
baby_name_original.head()

  Id      Name  Year Gender State Count
0  1      Mary  1910      F    AK    14
1  2     Annie  1910      F    AK    12
2  3      Anna  1910      F    AK    10
3  4  Margaret  1910      F    AK     8
4  5     Helen  1910      F    AK     7

In [3]:
#clean up column formats for Count (float), Year (int), convert year to date in new column date_conv (datetime)
baby_name_original["Count"] = baby_name_original.Count.astype(float)
baby_name_original["Year"] = baby_name_original["Year"].astype(int)
baby_name_original['date_conv'] = pd.to_datetime(baby_name_original.Year)

In [4]:
#look for null values
baby_name_original.isnull().sum()

Id           0
Name         0
Year         0
Gender       0
State        0
Count        0
date_conv    0
dtype: int64

In [6]:
#add a new column for Decade
baby_name_new = baby_name_original.copy()
#baby_name_new["Year"] = baby_name_new["Year"].astype(int)
baby_name_new['Decade'] = ((baby_name_new['Year']//10)*10)
baby_name_new = baby_name_new.reset_index(drop=True)
baby_name_new

,Id,Name,Year,Gender,State,Count,date_conv,Decade
0,1,Mary,1910,F,AK,14.0,1970-01-01 00:00:00.000001910,1910
1,2,Annie,1910,F,AK,12.0,1970-01-01 00:00:00.000001910,1910
2,3,Anna,1910,F,AK,10.0,1970-01-01 00:00:00.000001910,1910
3,4,Margaret,1910,F,AK,8.0,1970-01-01 00:00:00.000001910,1910
4,5,Helen,1910,F,AK,7.0,1970-01-01 00:00:00.000001910,1910
...,...,...,...,...,...,...,...,...
5647421,5647422,Seth,2014,M,WY,5.0,1970-01-01 00:00:00.000002014,2010
5647422,5647423,Spencer,2014,M,WY,5.0,1970-01-01 00:00:00.000002014,2010
5647423,5647424,Tyce,2014,M,WY,5.0,1970-01-01 00:00:00.000002014,2010
5647424,5647425,Victor,2014,M,WY,5.0,1970-01-01 00:00:00.000002014,2010
5647425,5647426,Waylon,2014,M,WY,5.0,1970-01-01 00:00:00.000002014,2010

In [7]:
decade = decadeGB.index
totalNames = decadeGB["Count"]

decadeGroupDF = pd.DataFrame({"Decade": decade, "Total Names": totalNames})
decadeGroupDF = decadeGroupDF.reset_index(drop=True)
decadeGroupDF

NameError: name 'decadeGB' is not defined

In [ ]:
x_axis = decadeGroupDF.Decade
y_axis = decadeGroupDF['Total Names']
plt.bar(x_axis, y_axis, align="center")
#plt.bar(x_axis, y_axis, color='r', alpha=0.5, align="center")
#plt.ylim(0, max(y_axis)+50000)

In [ ]:
namesPerYear = baby_name_original.groupby("Year")

#plt.(namesPerYear[])

In [ ]:
BabyNameGB = baby_name_original.groupby("Name")
BabyName = BabyNameGB.count().index
NameCount = BabyNameGB["Count"].sum()

TopNameGB = pd.DataFrame({"Name": BabyName, "Popularity": NameCount
                             })

In [ ]:
#TopNameGB.sort_values(by=['Popularity'])

TopName = TopNameGB.sort_values(by=['Popularity'], ascending=False)

TopName.head()