Project Markup

In [1]:
# Dependencies
#from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
#from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [2]:
#import city baby name data
baby_name_original = pd.read_csv(
    "../Data/Popular_Baby_Names.csv", dtype="object", encoding="utf-8")
baby_name_original

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,HISPANIC,GERALDINE,13,75
1,2011,FEMALE,HISPANIC,GIA,21,67
2,2011,FEMALE,HISPANIC,GIANNA,49,42
3,2011,FEMALE,HISPANIC,GISELLE,38,51
4,2011,FEMALE,HISPANIC,GRACE,36,53
...,...,...,...,...,...,...
27486,2016,FEMALE,HISPANIC,Alayna,10,74
27487,2015,FEMALE,HISPANIC,Yaritza,12,79
27488,2015,MALE,WHITE NON HISPANIC,Mendel,42,64
27489,2016,MALE,ASIAN AND PACIFIC ISLANDER,Isaac,21,48
27490,2015,FEMALE,WHITE NON HISPANIC,Alessia,12,81

In [11]:
baby_name_original.describe()

       Year of Birth  Gender Ethnicity Child's First Name  Count   Rank
count          27491   27491     27491              27491  27491  27491
unique             6       2         7               3021    280    102
top             2014  FEMALE  HISPANIC              Avery     10     77
freq            5865   14060      8114                 52   2262    558

In [5]:
ethnicities = baby_name_original['Ethnicity'].unique()

In [6]:
ethnicities

array(['HISPANIC', 'WHITE NON HISPANIC', 'ASIAN AND PACIFIC ISLANDER',
       'BLACK NON HISPANIC', 'ASIAN AND PACI', 'BLACK NON HISP',
       'WHITE NON HISP'], dtype=object)