Project Markup

In [1]:
# Dependencies
#from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
#from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [2]:
#import city baby name data
baby_name_original = pd.read_csv(
    "../Data/Popular_Baby_Names.csv", dtype="object", encoding="utf-8")
#display result
baby_name_original.head()

  Year of Birth  Gender Ethnicity Child's First Name Count Rank
0          2011  FEMALE  HISPANIC          GERALDINE    13   75
1          2011  FEMALE  HISPANIC                GIA    21   67
2          2011  FEMALE  HISPANIC             GIANNA    49   42
3          2011  FEMALE  HISPANIC            GISELLE    38   51
4          2011  FEMALE  HISPANIC              GRACE    36   53

In [9]:
#find unique Ethnicity values
#baby_name_original['Ethnicity'].unique()
#standardize in ASIAN, BLACK, WHITE, HISPANIC groups
baby_name_original['Ethnicity'] = baby_name_original['Ethnicity'].replace({'WHITE NON HISPANIC': 'WHITE'})
baby_name_original['Ethnicity'] = baby_name_original['Ethnicity'].replace({'ASIAN AND PACIFIC ISLANDER': 'ASIAN'})
baby_name_original['Ethnicity'] = baby_name_original['Ethnicity'].replace({'BLACK NON HISPANIC': 'BLACK'})
baby_name_original['Ethnicity'] = baby_name_original['Ethnicity'].replace({'ASIAN AND PACI': 'ASIAN'})
baby_name_original['Ethnicity'] = baby_name_original['Ethnicity'].replace({'BLACK NON HISP': 'BLACK'})
baby_name_original['Ethnicity'] = baby_name_original['Ethnicity'].replace({'WHITE NON HISP': 'WHITE'})
baby_name_original['Ethnicity'].unique()

array(['HISPANIC', 'WHITE', 'ASIAN', 'BLACK'], dtype=object)

In [14]:
#verify other columns are standardized
baby_name_original['Year of Birth'].unique()
baby_name_original['Gender'].unique()
baby_name_original["Child's First Name"].unique()
baby_name_original["Count"].unique()
baby_name_original["Rank"].unique()

array(['75', '67', '42', '51', '53', '62', '8', '74', '71', '78', '73',
       '72', '77', '60', '1', '70', '61', '65', '58', '41', '76', '68',
       '48', '55', '40', '66', '64', '34', '44', '57', '63', '33', '31',
       '20', '69', '35', '13', '52', '59', '39', '9', '27', '10', '56',
       '12', '2', '25', '18', '14', '38', '28', '6', '3', '19', '45',
       '47', '11', '79', '17', '43', '80', '37', '81', '46', '5', '22',
       '50', '21', '30', '24', '54', '15', '36', '23', '7', '16', '49',
       '29', '4', '32', '26', '92', '90', '82', '91', '88', '89', '94',
       '83', '93', '84', '87', '85', '86', '96', '97', '95', '99', '98',
       '100', '101', '102'], dtype=object)

In [5]:
counts = baby_name_original.count()
countsinfo = baby_name_original.describe()
print(counts)
countsinfo

Year of Birth         27491
Gender                27491
Ethnicity             27491
Child's First Name    27491
Count                 27491
Rank                  27491
dtype: int64

       Year of Birth  Gender Ethnicity Child's First Name  Count   Rank
count          27491   27491     27491              27491  27491  27491
unique             6       2         7               3021    280    102
top             2014  FEMALE  HISPANIC              Avery     10     77
freq            5865   14060      8114                 52   2262    558